# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
.venv

# Environnements virtuels
*.egg-info/
dist/
build/

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# Fichiers vidéo
*.mp4
*.avi
*.mov
*.mkv
*.flv
*.wmv
*.webm
*.m4v

# Fichiers audio
*.mp3
*.wav
*.aac
*.flac

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
